[Unit]
Description=PythonCanHTTPServer
After=network.target cancontroller.service

[Service]
WorkingDirectory=/home/pi/Controller
Type=simple
ExecStart=/bin/bash -c 'cd /home/pi/Controller && source venv/bin/activate && sudo PYTHONPATH="/home/pi/Controller:/home/pi/Controller/cancontroller/ipc" python3 test.py'
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
