<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Alarme et éclairage</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/alarm.css">
    <link rel="stylesheet" href="/static/style_darkmode.css">
    <meta http-equiv="refresh" content="10">
</head>
<body>
<div>
    <div id="form" class="{{ "" if device.status.online else "disabled" }}">
        <form action="" method="post">
            <h1>Alarm</h1>
            <div id="alarm">
                Status
                <div class="indicator {{ "on" if device.alarm.enabled else "off" }}"></div>
                {% if device.alarm.enabled %}
                    <input type="submit" class="button command" name="disable-alarm" value="Désactiver">
                {% else %}
                    <input type="submit" class="button command" name="enable-alarm" value="Activer">
                {% endif %}
            </div>
            <h1>Eclairage</h1>
            <div id="lights">
                <div id="both-lights" class="light">
                    <h2>Tout</h2>
                    <input type="submit" class="button command" name="both" value="on">
                    <input type="submit" class="button command" name="both" value="off">
                    <input type="submit" class="button command" name="both" value="toggle">
                </div>
                <div id="light1" class="light">
                    <h2>Lumière 1</h2>
                    <div class="indicator {{ "on" if device.alarm.base.oc1 else "off" }}"></div>
                    {% if device.alarm.base.oc1 %}
                        <input type="submit" class="button command" name="light1" value="off">
                    {% else %}
                        <input type="submit" class="button command" name="light1" value="on">
                    {% endif %}
                    <input type="submit" class="button command" name="light1" value="toggle">
                </div>
                <div id="light2" class="light">
                    <h2>Lumière 2</h2>
                    <div class="indicator {{ "on" if device.alarm.base.oc2 else "off" }}"></div>
                    {% if device.alarm.base.oc2 %}
                        <input type="submit" class="button command" name="light2" value="off">
                    {% else %}
                        <input type="submit" class="button command" name="light2" value="on">
                    {% endif %}
                    <input type="submit" class="button command" name="light2" value="toggle">
                </div>
            </div>
        </form>
    </div>
</div>
<div>
    <h1>Mesures</h1>
    <p>En ligne il y a {{ device.status.last_seen.seconds | diffseconds }} :
        <span class="date"> ({{ device.status.last_seen.seconds | fmttimestamp }})</span>
    </p>
    <p>Température carte : <span class="measurement temperature">{{ device.alarm.base.int_temp | round(1) }} °C</span>
    </p>
    <p>Température extérieure : <span
            class="measurement temperature">{{ device.alarm.base.ext_temp | round(1) }} °C</span></p>
</div>

<pre>{{ device }}</pre>

</body>
</html>