<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Alarme et éclairage</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/alarm.css">
    <meta http-equiv="refresh" content="10">
</head>
<body>
{% if error %}
    <div class="error">
        <p>
            {{ error }}
        </p>
    </div>
{% endif %}
<div>
    <div id="form" class="{{ "" if device.status.online else "disabled" }}">
        <form action="" method="post">
            <h1>Eclairage</h1>
            <div id="lights">
                <div id="both-lights" class="light">
                    <h2>Tout</h2>
                    <input type="submit" class="button" name="both" class="command" value="on">
                    <input type="submit" class="button" name="both" class="command" value="off">
                    <input type="submit" class="button" name="both" class="command" value="toggle">
                </div>
                <div id="light1" class="light">
                    <h2>Lumière 1</h2>
                    <div class="indicator {{ "on" if device.alarm.light1 else "off" }}"></div>
                    {% if device.alarm.light1 %}
                    <input type="submit" class="button" name="light1" class="command" value="off">
                    {% else %}
                    <input type="submit" class="button" name="light1" class="command" value="on">
                    {% endif %}
                    <input type="submit" class="button" name="light1" class="command" value="toggle">
                </div>
                <div id="light2" class="light">
                    <h2>Lumière 2</h2>
                    <div class="indicator {{ "on" if device.alarm.light2 else "off" }}"></div>
                    {% if device.alarm.light2 %}
                    <input type="submit" class="button" name="light2" class="command" value="off">
                    {% else %}
                    <input type="submit" class="button" name="light2" class="command" value="on">
                    {% endif %}
                    <input type="submit" class="button" name="light2" class="command" value="toggle">
                </div>
            </div>
        </form>
        <form action="" method="post">
            <h1>Alarme</h1>
            <div id="alarm" class="alarm">
                {% if device.alarm.mode %}
                    <div class="alarm_silent_mode">
                        <p>Alarm SILENT/TESTING mode <input type="submit" class="button" name="mode" class="command" value="normal"></p>
                    </div>
                {% else %}
                    <input type="submit" class="button" name="mode" class="command" value="silent">
                {% endif %}

                    <div class="alarm_status">
                        <p>L'alarme est <span class="alarm_state {{ alarm_status_message[0] }}">{{ alarm_status_message[1] }}</span>,
                            la sirène est <span class="siren_state {{ siren_status_message[0] }}">{{ siren_status_message[1] }}</span></p>
                    </div>

                {% if device.alarm.state == 0 %}
                    <input type="submit" class="button" name="alarm" class="command" value="enable">
                {% elif device.alarm.state == 1 %}
                    <input type="submit" class="button" name="alarm" class="command" value="disable">
                {% elif device.alarm.state == 2 %}
                    <input type="submit" class="button" name="alarm" class="command" value="disable">
                {% elif device.alarm.state == 3 %}
                    <input type="submit" class="button" name="alarm" class="command" value="disable">
                    <input type="submit" class="button" name="alarm" class="command" value="recover">
                {% endif %}
            </div>
        </form>
    </div>
</div>
<div>
    <h1>Mesures</h1>
    <p>Timestamp : <span class="date">{{ device.status.last_seen.formatted }}</span></p>
    <p>Température carte : <span class="measurement temperature">{{ device.alarm.base.int_temp | round(1) }} °C</span>
    </p>
    <p>Température extérieure : <span
            class="measurement temperature">{{ device.alarm.base.ext_temp | round(1) }} °C</span></p>
</div>

{% if debug %}
    <div id="debug">
        <h1>Debug</h1>
        <p>
            {{ device }}
        </p>

        <form action="" method="post">
            <input class="button" type="submit" name="debug" value="RequestTelemetry">

            <h1>Sirène</h1>
            <div id="siren">
                <div id="siren" class="siren">
                    <input type="submit" class="button" name="siren" class="command" value="on">
                    <input type="submit" class="button" name="siren" class="command" value="toggle">
                    <input type="submit" class="button" name="siren" class="command" value="off">
                </div>
            </div>
        </form>

    </div>
{% else %}
    <hr/>
    <div id="debug">
        <p><a href="?debug=1">Activer le mode debug</a></p>
    </div>
{% endif %}

</body>
</html>