<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/dashboard.css">
    <link rel="stylesheet" href="/static/style_darkmode.css">
</head>
<body>
{% if error %}
    <div class="error">
        <p>
            {{ error }}
        </p>
    </div>
{% endif %}

<div>
    <form action="" method="post">
        <fieldset>
            <legend>General</legend>
            <label for="synctime">Time sync</label>
            <input type="submit" class="button" name="synctime" value="Synctime {{ now }}"/>
        </fieldset>

        <hr/>

        <label for="device">DeviceID</label>
        <select name="device" class="select">
            {% for name, did, ver, data in devlist %}
                <option {{ "selected" if name == selected_device }} value="{{ name }}">[ {{ did.id }} ] {{ name }}
                    version = {{ ver }}</option>
            {% endfor %}
        </select>

        <fieldset>
            <legend>Attributes</legend>

            <br/>

            <label for="telemetry">Request telemetry</label>
            <select name="endpoint" class="select">
                <option value="ep-0">Endpoint Application</option>
                <option value="ep-1">Endpoint 1</option>
                <option value="ep-2">Endpoint 2</option>
                <option selected value="ep-3">Board Level</option>
            </select>
            <input type="submit" class="button" name="telemetry" value="Request Telemetry"/>

            <br/>

            <label for="key-select">Key</label>
            <select name="key" class="select" id="key-select">
                {% for a in attr_list %}
                    <option {{ "selected" if a.name == attr.name }} value="{{ a.key }}">{{ a }}</option>
                {% endfor %}
            </select>

            <input type="text" class="text attrpart" name="part" value="{{ part }}"/>
            <input type="submit" class="button" name="read-attribute" value="Read attribute"/>

            <br/>

            <label for="write-attribute">Write</label>
            <input type="text" class="text" name="wval" value="{{ wval }}"/>
            <input type="submit" class="button" name="write-attribute" value="Write attribute"/>

            <br/>

            <label>Result :</label>
            <input type="text" disabled class="text" name="rval" value="{{ rval }}"/>
            <input type="text" disabled class="text irval" value="{{ irval }} ( {{ attr.name }} )"/>
        </fieldset>

        <fieldset>
            <legend>Board Control (low level API)</legend>
            <input type="submit" class="button" name="oc1" value="OC1"/>
            <input type="submit" class="button" name="poc1" value="Pulse OC1"/>
            <input type="submit" class="button" name="oc2" value="OC2"/>
            <input type="submit" class="button" name="poc2" value="Pulse OC2"/>
            <input type="submit" class="button" name="rl1" value="RL1"/>
            <input type="submit" class="button" name="prl1" value="Pulse RL1"/>
            <input type="submit" class="button" name="rl2" value="RL2"/>
            <input type="submit" class="button" name="prl2" value="Pulse RL2"/>
            <input type="submit" disabled class="button" value="IN1"/>
            <input type="submit" disabled class="button" value="IN2"/>
            <input type="submit" disabled class="button" value="IN3"/>
            <input type="submit" disabled class="button" value="IN4"/>
            <input type="text" class="text" value="INTTEMP"/>
            <input type="text" class="text" value="EXTTEMP"/>
        </fieldset>
    </form>

    <h1>Dashboard</h1>
    {% for name, did, ver, data in devlist %}
        <span class="devicename">{{ name }}, {{ did }} version = {{ ver }}</span>
        <div>
            <pre>{{ data }} </pre>
        </div>
    {% endfor %}
</div>

</body>
</html>