<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/dashboard.css">
    <link rel="stylesheet" href="/static/style_darkmode.css">
</head>
<body>
{% if error %}
    <div class="error">
        <p>
            {{ error }}
        </p>
    </div>
{% endif %}

<div>
    <form action="" method="post">

        <h2>Time sync</h2>
        <label>
            For all devices :
            <input type="submit" class="button" name="synctime" value="Synctime {{ now }}"/>
        </label>

        <h2>Device</h2>

        <label>
            DeviceID :
            <select name="device" class="select">
                {% for name, did, ver, data in devlist %}
                    <option {{ "selected" if name == selected_device }} value="{{ name }}">[ {{ did.id }} ] {{ name }} version = {{ ver }}</option>
                {% endfor %}
            </select>
        </label>
        <br/>
        <label>
            Request telemetry
            <input type="submit" class="button" name="telemetry" value="Request Telemetry"/>
        </label>
        <br/>
        <label>
            <select name="key" class="select">
                {% for a in attr_list %}
                    <option {{ "selected" if a.name == attr.name }} value="{{ a.key }}">{{ a }}</option>
                {% endfor %}
            </select>
{#            <input type="text" class="text" name="rkey" value="{{ rkey }}"/>#}
            <input type="text" class="text attrpart" name="part" value="{{ part }}"/>
            <input type="submit" class="button" name="read-attribute" value="Read attribute"/>
        </label>
        <br/>
        <label>
{#            <input type="text" class="text" name="wkey" value="{{ wkey }}"/>#}
            <input type="text" class="text" name="wval" value="{{ wval }}"/>
            <input type="submit" class="button" name="write-attribute" value="Write attribute"/>
        </label>
        <br/>
        <label>
            Result <input type="text" disabled class="text" name="rval" value="{{ rval }}"/>
            <input type="text" disabled class="text irval" value="{{ irval }} ( {{ attr.name }} )"/>
        </label>
    </form>

    <h1>Dashboard</h1>
    {% for name, did, ver, data in devlist %}
        <span class="devicename">{{ name }}, {{ did }} version = {{ ver }}</span>
        <div>
            <pre>{{ data }} </pre>
        </div>
    {% endfor %}
</div>

</body>
</html>