<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Porte de garage</title>
    <link rel="stylesheet" href="/static/garage.css">
</head>
<body>
<!-- {{ command }} -->
{% if error %}
<div class="error">
    <p>
        {{ error }}
    </p>
</div>
{% endif %}
<div class="door-form">
    <form action="" method="post">
        <div>
            <input type="submit" name="command" value="{{ commands_list[0] }}">
        </div>
    </form>
</div>
<div class="door-form">
    <form action="" method="post">
        <div>
            <input type="submit" name="command" value="{{ commands_list[1] }}">
        </div>
    </form>
</div>
<div>
    
</div>
</body>
</html>