<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Porte de garage</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/garage.css">
    <meta http-equiv="refresh" content="10" >
</head>
<body>
{% if error %}
<div class="error">
    <p>
        {{ error }}
    </p>
</div>
{% endif %}
<div>
    <h1>Portes de garage</h1>
    <div id="form" class="{{ "" if device.status.online else "disabled"}}">
        <form action="" method="post">
            <div id="doors">
                <div id="left-door" class="door">
                    <input type="submit" name="command" class="command {{ "open" if device.garage.left else "close" }}"
                           value="{{ commands_list[0] }}">
                </div>
                <div id="gate" class="door">
                    <img src="static/gate.png" alt="gate.png" class="{{ "open" if device.garage.gate else "close" }}">
                </div>
                <div id="right-door" class="door">
                    <input type="submit" name="command" class="command {{ "open" if device.garage.right else "close" }}"
                           value="{{ commands_list[1] }}">
                </div>
            </div>
        </form>
    </div>
</div>
<div>
    <h1>Mesures</h1>
    <p>Timestamp : <span class="date">{{ device.status.last_seen.formatted }}</span></p>
    <p>Température : <span class="measurement temperature">{{ device.garage.base.int_temp | round(1) }} °C</span></p>
    <p>Porte de garage gauche <span class="measurement">{{ "ouverte" if device.garage.left else "fermée" }}</span>.</p>
    <p>Porte de garage droite <span class="measurement">{{ "ouverte" if device.garage.right else "fermée" }}</span>.</p>
    <p>Portillon <span class="measurement">{{ "ouvert" if device.garage.gate else "fermé" }}</span>.</p>
</div>

{% if debug %}
<div id="debug">
    <h1>Debug</h1>
    <p>
        {{ device }}
    </p>

    <form action="" method="post">
        <input class="button" type="submit" name="debug" value="RequestTelemetry">
    </form>
</div>
{% else %}
    <hr/>
<div id="debug">
    <p><a href="?debug=1">Activer le mode debug</a></p>
</div>
{% endif %}

<div>
    <h1>Index</h1>
    <ul>
        <li><a href="/garage">Garage</a></li>
        <li><a href="/logs">Télécharger les logs</a></li>
{#        <li><a href="/logs?clear=1">Supprimer les logs</a></li>#}
    </ul>
</div>

</body>
</html>