<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>CANIOT Index</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>

<h1>Caniot INDEX</h1>

<a href="/garage">Garage</a>

{{ model }}

</body>
</html>