<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>CANIOT Index</title>
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/style_darkmode.css">
</head>
<body>

<div>
    <h1>Caniot INDEX</h1>
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/garage">Garage Door Controller</a></li>
        <li><a href="/alarmcontroller">Alarm Controller</a></li>
        <li><a href="/logs">Télécharger les logs</a></li>
{#        <li><a href="/logs?clear=1">Supprimer les logs</a></li>#}
    </ul>
</div>


<h1>Models</h1>
<p>
    {{ model }}
</p>

</body>
</html>