.error
{
    background-color: rgba(255, 0, 38, 0.14);
    width: 100%;
    border: solid 1px black;
    font-weight: bold;
}

#form
{
    height: 440px;
}

.door
{
    float: left;
    width: 20%;
}

.door:first-child, .door:last-child
{
    width: 40%;
}

#gate img
{
    width: 100%;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.command
{
    font-size: 0px;
    height: 440px;
    width: 100%;
    border: solid 1px black;
    background:url(door-orange.png) no-repeat;
    background-size: 100% 100%;
    cursor:pointer;
    font-weight: bold;
    font-style: italic;
    color: #222222;
}

.close
{
    border-bottom:solid 40px #00ff00;
}

.open
{
    border-bottom:solid 40px #ff0000;
}