body
{
    font-family: "Helvetica Neue", sans-serif;
    font-size: 32px;
    padding: 20px;
}

.disabled
{
    opacity: 30%;
}

.big-button
{
    font-size: 48px;
}

p
{
    margin-left: 40px;
}

h1
{
    font-size: 40px;
    border-bottom: solid 2px #DDDDDD;
}

h2
{
    font-size: 34px;
    color: #565656;
    /*display:inline-block;*/
    padding: 0px;
    margin: 10px 0px 0px 0px;

    display: block;
    width: 80%;

    margin-bottom: 20px;

}

.date
{
    font-style: italic;
    color: #333333;
}

.measurement
{
    font-weight: bold;
    font-style: italic;
}

.temperature
{
    font-style: italic;
}

div.indicator
{
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: white;
    border: solid 1px black;
    text-align: center;
    font-size: 24px;
}

.greenbg, .on
{
    background-color: green !important;
}

.redbg, .off
{
    background-color: red !important;
}

.orangebg
{
    background-color: orange !important;
}

input.text,
input.button,
select.select
{
    height: 100px;

    font-size: 30px;

    padding-left: 30px;
    padding-right: 30px;

    border: solid 1px #CCCCCC;
    background-color: #111111;

    color:#FFFFFF;
}


input.button
{
    font-weight: bold;

    box-shadow: 3px 3px 4px black;

    color: #FFFFFF;

    background-color: #000000;
}

input.button:hover
{
    cursor: pointer;

    background-color: #222222;
}

input.button:active
{
    box-shadow: 1px 1px 2px black;

    text-decoration: underline;
}

.datetime
{
    font-style: italic;
    font-weight: bold;
    color: #EEE;
}